[submodule "linenoise-ng"]
	path = linenoise-ng
	url = https://github.com/arangodb/linenoise-ng.git
[submodule "inih"]
	path = inih
	url = https://github.com/benhoyt/inih.git
[submodule "capstone"]
	path = capstone
	url = https://github.com/aquynh/capstone.git
[submodule "unicorn"]
	path = unicorn
	url = https://github.com/unicorn-engine/unicorn.git
